@charset "UTF-8";

/* Reset */
* {
    color: #000;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a             { text-decoration: none; }
a:link        { color: #222; }
a:visited     { color: #222; }
a:hover       { color: #333; }
a:active      { color: #333; }
img           { vertical-align: middle; }
ul            { list-style: none; }
/* Reset */

/* div#wrap */
div#wrap {
    width: 1000px;
    border: 1px solid #0f0;
    margin: 0 auto;
}
/* div#wrap */


button {
    font-size: 30px;
}


/* 슬라이드쇼 영역 시작 */
div#slideArea {
    width: 1000px;
    height: 300px;
    border: 10px solid #08f;

    /* position: relative;   슬라이드쇼 공통 텍스트 용 */

    /*overflow: hidden;*/
}

div#slideShuttleFrame {
    width: 3050px;
    border: 10px solid #f00;

    margin-left: 0px;


}
div#slideShuttleFrame::after {
    content: "";
    height: 300px;
    display: inline-block;
}
#slideShuttleFrame>a {
    float: left;

    position: relative;  /* 슬라이드쇼 개별 텍스트 용 */
}


    /* 슬라이드 텍스트 시작(고정 공통텍스트) */
/*span#slideTxt {
    width: 200px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);

    display: inline-block;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}*/
    /* 슬라이드 텍스트 끝(고정 공통텍스트) */


    /* 슬라이드 개별 텍스트 시작 */
div#slideArea span {
    width: 200px;
    height: 100px;
    color: #f80;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.65);

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

}
    /* 슬라이드 개별 텍스트 끝 */


/* 슬라이드쇼 영역 끝 */








